#ui-id-1 {
    background-color: #fff;
    min-width: 300px;
}

ul#ui-id-1 li.ui-menu-item {
    width: 300px;
    line-height: 1.7;
    padding: 5px 10px;
    border-bottom: 1px dotted #ccc;
}

.basso_search_result .s_image {
	margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	max-width: 100%;
    max-height: 100%;
	height: 200px;
}

.basso_search_result .s_title {
	color: #111;
	font-weight: 400;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
	font-size: 17px;
    line-height: 1.255;
}

.basso_search_result .s_title:hover {
    text-decoration: none;
    cursor: pointer;
    color: #c45500;
}

.basso_search_result .s_stars {
	margin-bottom: 15px;
}

.basso_search_result .s_price {
	color: #111;
	font-size: 21px;
}

.basso_search_result .s_price .a-price-symbol{
	position: relative;
	top: -.5em;
    font-size: 12px;
}

.basso_search_result .s_info .a-size-base {
    font-size: 13px;
    line-height: 19px;
}

.basso_search_result .s_info .a-size-base {
    font-size: 13px;
    line-height: 19px;
}

.basso_search_result .s_info .a-color-secondary {
    color: #555!important;
}

.basso_search_result .s_info .a-letter-space {
	color: #0066c0;
	margin-left: 7px;
}

.basso_search_result {
	border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
    padding-top: 15px;
}

.basso_search_result .s_info {
	margin-bottom: 30px;
}

.basso_search_result .col-lg-3 {
	text-align: center;
}

.order_search {
    z-index: 9;
}

.order_search button {
    height: 38px;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}


.hover-to-show input { 
	margin-left: 25px; 
	width: 195px;
    opacity: 1;
    transition: all .2s ease-in-out;
	border-right: 0;
}

.hover-to-show-input-hover {
    opacity: 1 !important;
    transition: all .2s ease-in-out !important;
}
.highlight {
	border: 1px dashed red;
}