@charset "UTF-8";
/*====================================
 *
 * Fonts
 *
 * =================================*/
@font-face {
  font-family: UTMAvoBold;
  src: url("../fonts/UTMAvoBold.woff");
  font-weight: bold;
}
/*====================================
 *
 * Global
 *
 * =================================*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #333333;
}

a {
  color: #00354E;
}

a:hover {
  color: #F3A23B;
  text-decoration: none;
}

.btn {
  outline: none;
}

.button {
  color: #fff;
  background: #F3A23B;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
}

.button-dark {
  background: #343a40;
  color: #fff;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: bold;
}

.button:hover,
.button:focus,
.button:active:focus,
.button:active {
  background: #00354E;
}

*:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.paging {
  text-align: center;
  margin-top: 40px;
}

.paging nav {
  display: inline-block;
}

.paging li {
  margin: 0 5px;
}

.paging a {
  color: #000;
  font-weight: 500;
  border-radius: 0 !important;
  border: 0;
}

.paging .icon {
  background: #00354e;
  color: #fff;
}

.paging .active,
.paging a:hover {
  background: #f3a23b;
  color: #fff;
}

.noimg {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.notice {
  color: #ff0000;
}

#backtop {
  z-index: 30;
  bottom: 30px;
  left: 20px;
  display: none;
  position: fixed;
  cursor: pointer;
  -webkit-animation: particle-a 1s infinite linear;
  -moz-animation: particle-a 1s infinite linear;
  -o-animation: particle-a 1s infinite linear;
  animation: particle-a 1s infinite linear;
}

#backtop i {
  background: #F3A23B;
  color: #fff;
  text-align: center;
  font-size: 14px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
}

.heading {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #e09b01;
  text-transform: uppercase;
}

.heading::after {
  width: 20px;
  height: 2px;
  content: "";
  background: #e09b01;
  margin: 10px 0;
  display: block;
}


.h2-title {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #00354E;
  text-transform: uppercase;
  text-align: center;
}

.h2-title::after {
  width: 45px;
  height: 3px;
  content: "";
  background: #F3A23B;
  display: block;
  margin: 10px auto;
}

.p-intro {
  font-size: 21px;
  text-align: center;
}

.mobile {
  display: none;
}

.mfg-popup {
  max-width: 1000px;
  background: #fff;
  position: relative;
  padding: 30px 20px;
  margin: auto;
}

.mfg-popup .h2-title {
  margin-bottom: 20px;
}

.mfg-popup .mfp-close {
  margin: -22px -22px 0 0;
  background: #00354F;
  color: #fff;
  border-radius: 50%;
  opacity: 1;
}

.mfg-popup .mfp-close:hover {
  background: #F3A23B;
}

.mfg-popup .links {
  text-align: center;
}

.mfg-popup .links .button {
  border-radius: 20px;
  font-weight: 500;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00354E;
}

.card-header {
  padding: 0 0 0 1.25rem;
}

.custom-control {
  cursor: pointer;
  padding: 0 1.25rem;
}

.custom-control-label {
  cursor: pointer;
  display: block;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

/*====================================
 *
 * Breadcrumbs
 *
 * =================================*/
.breadcrumbs {
  background: #f1f1f1;
}

.breadcrumb {
  background: none;
  padding: 10px 0;
  margin: 0;
}

.breadcrumb a {
  color: #777;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/ ";
}

/*====================================
 *
 * Zoom
 *
 * =================================*/
.zoom-img {
  display: inline-block;
  width: 60px;
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 5px;
}

.zoom-img img {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

/*====================================
 *
 * Header
 *
 * =================================*/
header {
  background: #00354E;
  color: #fff;
  padding: 8px 0;
}

header a {
  color: #fff;
}

header a:hover {
  color: #F3A23B;
}

header .l1 {
  border-top: 1px solid #0E263A;
  border-bottom: 1px solid #173956;
}

header .l2 {
  border-top: 1px solid #173956;
  border-bottom: 1px solid #0E263A;
}

header .container {
  padding-bottom: 30px;
  padding-top: 30px;
}

header .links {
  list-style: none;
  padding: 0;
  margin: 0 20px 0 0;
  float: right;
  display: table;
}

header .links li {
  display: table-cell;
  vertical-align: middle;
  border-right: 1px solid #666;
  background-position: 15px center;
  background-repeat: no-repeat;
  height: 42px;
  padding-right: 20px;
  padding-left: 60px;
}

header .links li:last-child {
  border-right: 0;
  padding-right: 0;
}

header .phone {
  background-image: url(../images/icon/phone.png);
}

header .help {
  background-image: url(../images/icon/help.png);
}

header .account {
  background-image: url(../images/icon/user.png);
}

header .cart {
  background-image: url(../images/icon/cart.png);
}

.user-links {
  display: none;
}

/*====================================
 *
 * Main Menu
 *
 * =================================*/
.navbar {
  float: left;
  padding: 10px 0;
}

.nav-item {
  border-right: 1px dashed #808080;
  margin-right: 15px;
  padding-right: 15px;
  position: relative;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  color: #00354E;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.nav-item.active a,
.nav-link:hover {
  color: #F3A23B;
}

.search-order.nav-item {
  padding-right: 0px;
  border-right: none;
}

.navbar-nav .dropdown-menu {
  width: 250px;
  left: -15px;
  top: 96%;
  border-radius: 0;
  border: 0;
}

.navbar-nav .dropdown-menu .nav-item {
  border: 0;
  padding: 0;
  margin: 0;
}

.navbar-nav .dropdown-menu .nav-item .nav-link {
  margin: 0 !important;
}

.navbar-nav .dropdown-menu .nav-item .nav-link:hover {
  color: #F3A23B;
  background: none;
}

.navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
  max-height: 300px;
  opacity: 1;
}

.navbar-nav .dropdown-menu .nav-link {
  color: #212529;
  text-transform: none;
  transition-duration: 0.2s;
  border-left: 0;
  border-bottom: 1px solid #eee;
}

.navbar-nav .dropdown-menu .nav-link:hover {
  color: #fff;
  background: #00a1e9;
}

.main-menu {
  position: relative;
}

.main-menu::before {
  content: "";
  background: #F8AF3F;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.main-menu .container {
  position: relative;
}

.main-menu .container::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 10%;
  bottom: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.main-menu .container::after {
  clear: both;
  display: block;
  content: "";
}

.search-menu {
  display: none;
}

.quotation {
  float: right;
  position: relative;
  background: #F8AF3F;
}

.quotation::before {
  content: "";
  position: absolute;
  left: -32px;
  top: 0;
  width: 80px;
  background: #F8AF3F;
  height: 100%;
  -webkit-transform: skewx(-45deg);
  -ms-transform: skewx(-45deg);
  transform: skewx(-45deg);
}

.quotation:hover::before {
  background: #1EB0B1;
}

.quotation::after {
  content: "";
  position: absolute;
  left: -32px;
  top: 0;
  width: 10px;
  background: #13314C;
  height: 100%;
  -webkit-transform: skewx(-45deg);
  -ms-transform: skewx(-45deg);
  transform: skewx(-45deg);
  z-index: 9;
}

.quotation a {
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  display: table-cell;
  vertical-align: middle;
  padding: 19px 30px 19px 28px;
  position: relative;
}

.quotation:hover a {
  color: #fff;
  background: #1EB0B1;
}

.quotation a::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 2000px;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
  background: #E8E8E8;
}

.quotation a::before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: -65px;
  right: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 0;
}

/*====================================
 *
 * Device Menu
 *
 * =================================*/
.navbar-toggle {
  float: left;
  padding: 9px 10px;
  border: 0;
  background: none;
  outline: none !important;
  display: none;
  margin: -3px 0 0 0;
}

.navbar-toggle .icon-bar {
  background: #d4d4d4;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 2px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggle .icon-bar-2 {
  width: 18px;
}

.navbar-toggle .icon-bar-3 {
  width: 16px;
}

#navdevice.active {
  background: #F3A23B;
}

#navdevice:hover .icon-bar,
#navdevice.active .icon-bar {
  background: #fff;
}

.navdevice {
  position: fixed;
  left: -100%;
  top: 0;
  height: 100%;
  width: 240px;
  background-color: #00354E;
  overflow-y: scroll;
  z-index: 1000;
  box-shadow: 0px 10px 10px #111;
}

.navdevice .head {
  text-transform: uppercase;
  padding: 10px 10px 10px 20px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.navdevice .head:hover {
  background-color: #ababab;
  color: #313131;
}

.navdevice ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.navdevice a {
  display: block;
  padding: 15px 10px 15px 20px;
  color: #fff;
  border-top: 1px solid #0E263A;
}

.navdevice a:hover {
  text-decoration: none;
  background-color: #ababab;
  color: #313131;
}

.navdevice ul ul a {
  padding-left: 40px;
}

.navdevice > ul > li > a {
  text-transform: uppercase;
}

.navdevice i {
  margin-right: 10px;
}

/*====================================
 *
 * Banner
 *
 * =================================*/
/*====================================
 *
 * Utility
 *
 * =================================*/
.utility {
  padding: 35px 0;
}

.utility h3 {
  color: #1EB0B1;
  text-transform: uppercase;
  font-size: 18px;
  margin: 10px 0 0;
  text-align: center;
}

.utility .img {
  width: 80px;
  margin: auto;
}

/*====================================
 *
 * Auto Quotes
 *
 * =================================*/
.auto-quotes {
  padding: 60px 0;
  background: #E8E8E8;
  text-align: center;
  color: #808080;
}

.auto-quotes form {
  max-width: 800px;
  margin: auto;
}

.auto-quotes .form-control {
  border: 0;
  outline: none;
}

.auto-quotes .form-control::-webkit-input-placeholder {
  font-style: italic;
  color: #808080;
}

.auto-quotes .form-control:-moz-placeholder {
  font-style: italic;
  color: #808080;
}

.auto-quotes .form-control::-moz-placeholder {
  font-style: italic;
  color: #808080;
}

.auto-quotes .form-control:-ms-input-placeholder {
  font-style: italic;
  color: #808080;
}

.auto-quotes .input-group-text {
  border: 0;
  background: #F3A23B;
  color: #fff;
  border-radius: 2px !important;
}

.auto-quotes .action {
  margin-top: 30px;
}

/*====================================
 *
 * Order Workflow
 *
 * =================================*/
.order-workflow {
  padding: 60px 0;
}

.order-workflow .title {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0;
}

.order-workflow .title span {
  background: #00354E;
  padding: 6px 30px 6px 20px;
  position: relative;
}

.order-workflow .title span::before {
  content: "";
  position: absolute;
  right: -20px;
  top: 0;
  width: 40px;
  background: #00354E;
  height: 100%;
  -webkit-transform: skewx(-35deg);
  -ms-transform: skewx(-35deg);
  transform: skewx(-35deg);
}

.order-workflow .title span::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 0;
  width: 10px;
  background: #F8AF3F;
  height: 100%;
  -webkit-transform: skewx(-35deg);
  -ms-transform: skewx(-35deg);
  transform: skewx(-35deg);
  z-index: 9;
}

.order-workflow ul {
  list-style: none;
}

.order-workflow .li {
  margin-top: 30px;
}

.order-workflow .mobile {
  display: none;
}

.order-workflow .img1 {
  max-width: 75%;
  margin: 5% auto 0;
}

.order-workflow .img2 {
  max-width: 55%;
  margin: auto;
}

.order-workflow .img4 {
  max-width: 65%;
  margin: 5% auto 0;
}

/*====================================
 *
 * Pricing
 *
 * =================================*/
.pricing {
  color: #fff;
  padding: 60px 0;
  background: url(../images/pricing-fade.jpg) no-repeat center center;
}

.pricing .h2-title {
  color: #fff;
}

.pricing-ul {
  position: relative;
  height: 320px;
  margin-top: 70px;
}

.pricing-ul .li {
  position: absolute;
  top: 0;
  color: #899DA7;
  text-align: center;
  background: url(../images/bg-pricing.png) repeat-x bottom left;
  padding-bottom: 10px;
  width: 17%;
}

.pricing-ul .li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -15px;
  width: 20px;
  background: url(../images/shadow.png) no-repeat 5px top;
}

.pricing-ul ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  background: #fff;
}

.pricing-ul li {
  border-bottom: 1px solid #899DA7;
  padding: 7px 10px;
}

.pricing-ul li:last-child {
  border-bottom: 0;
}

.pricing-ul h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #666666;
  background: #DCDCDC;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  text-transform: uppercase;
}

.pricing-ul p {
  margin: 0;
}

.pricing-ul .icon {
  margin-top: 10px;
}

.pricing-ul .fas {
  font-size: 18px;
}

.pricing-ul .fa-check-circle {
  color: #1EB0B1;
}

.pricing-ul .fa-times-circle {
  color: #E21E63;
}

.pricing-ul .c1 {
  color: #1EB0B1;
  text-align: left;
}

.pricing-ul .c1 h3 {
  color: #fff;
  background: #1EB0B1;
}

.pricing-ul .c1::before {
  right: 0px;
  background: url(../images/shadow-left.png) no-repeat -10px top;
}

.pricing-ul .c2 {
  width: 20%;
  left: 16%;
  z-index: 10;
  top: -35px;
}

.pricing-ul .c2 h3 {
  color: #fff;
  background: #F3A23B;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 20px;
}

.pricing-ul .c3 {
  left: 35%;
  z-index: 9;
}

.pricing-ul .c4 {
  left: 50.5%;
  z-index: 8;
}

.pricing-ul .c5 {
  left: 66.5%;
  z-index: 7;
}

.pricing-ul .c6 {
  left: 83%;
}

/*====================================
 *
 * Featured
 *
 * =================================*/
.featured {
  background: #00354E;
  color: #A9C0D5;
  padding: 60px 0 0;
}
.featured a {
  color: #A9C0D5;
}
.featured a:hover {
  color: #fff;
}

.featured .li:first-child {
  margin-bottom: 70px;
}

.breadcrumb-front .breadcrumbs {
  background-color: #fff;
  padding: 10px;
}

.featured .h3-title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 30px;
  float: left;
}

.featured .h3-title::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #F3A23B;
  margin-top: 10px;
}

.featured i {
  float: left;
  margin-right: 20px;
  font-size: 40px;
  color: #2CB5C5;
}

.featured .content::before {
  content: "";
  display: block;
  clear: both;
}

/*====================================
 *
 * Comunity
 *
 * =================================*/
.comunity {
  padding: 60px 0;
}

.comunity h2, .comunity h4 {
  font-size: 30px;
  font-weight: bold;
  color: #00354E;
  margin: 0 0 30px;
}

.comunity .h3-title {
  font-size: 18px;
  font-weight: bold;
  color: #00354E;
  margin: 0 0 30px;
  float: left;
}

.comunity .h3-title::after {
  content: "";
  display: block;
  width: 45px;
  height: 3px;
  background: #F3A23B;
  margin-top: 10px;
}

/*====================================
 *
 * Testinomial
 *
 * =================================*/
.testinomial {
  padding: 60px 0;
  color: #fff;
  background: url(../images/testinomial-fade.jpg) no-repeat center top;
}

.testinomial .title {
  font-family: UTMAvoBold;
  font-size: 60px;
  margin: 60px 0 0 0;
}

.testinomial .first {
  position: relative;
}

.testinomial .first .text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 15px;
}

.testinomial .li {
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 15px;
  min-height: 220px;
}

.testinomial .w {
  background: url(../images/icon/testinomial.png) no-repeat left 5px;
  padding-left: 40px;
}

.testinomial .slick-prev, .testinomial .slick-next {
  height: 50px;
  line-height: 50px;
}

.testinomial .name {
  color: #F3A23B;
  font-weight: bold;
  margin: 15px 0 5px;
  font-size: 16px;
}

.testinomial .reviews {
  padding-left: 0;
  padding-right: 0;
}

/*====================================
 *
 * Brand
 *
 * =================================*/
.brand {
  padding: 60px 0;
  position: relative;
  max-height: 330px;
  overflow-y: hidden;
}

.brand .h2-title {
  text-align: left;
  margin-bottom: 30px;
}

.brand .h2-title::after {
  margin-left: 0;
  margin-right: 0;
}

.partner {
  position: inherit;
}

.partner .slick-arrow {
  margin: 0 15px;
  top: 55%;
  background: #dcdcdc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}

.partner .slick-arrow:hover {
  background: #F3A23B;
}

/*====================================
 *
 * Newsletter
 *
 * =================================*/
.newsletter {
  background: url(../images/newsletter.png) no-repeat center top;
  background-size: cover;
}

.newsletter .w {
  padding: 30px 0;
  color: #fff;
}

.newsletter .title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.newsletter .text {
  font-size: 24px;
  font-style: italic;
}

.newsletter form {
  max-width: 350px;
}

.newsletter .form-control {
  border: 0;
  outline: none;
}

.newsletter .btn {
  border: 0;
  color: #fff;
  background: #F3A23B;
  outline: none;
}

/*====================================
 *
 * Bottom
 *
 * =================================*/
.bottom {
  padding: 60px 0;
  color: #fff;
  background: url(../images/bottom.png) no-repeat center top #00354e;
  color: #e4e4e4;
}

.bottom a {
  color: #e4e4e4;
}

.bottom a:hover {
  color: #F3A23B;
}

.bottom .title {
  margin: 0 0 30px;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: #DCDCDC;
  text-transform: uppercase;
  border-bottom: 2px solid #666666;
}

.bottom .title::after {
  width: 45px;
  height: 3px;
  content: "";
  background: #F3A23B;
  display: block;
  margin-top: 10px;
  margin-bottom: -1px;
}

.bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bottom li {
  margin-top: 5px;
}

.bottom li h4 {
  font-size: 1em;
  line-height: 1.4;
}

.bottom .li::after {
  content: "";
  clear: both;
  display: block;
}

.bottom .li {
  margin-bottom: 5px;
}

.bottom .fas {
  float: left;
  width: 6%;
  margin-top: 4px;
}

.bottom .r {
  float: left;
  width: 94%;
}

.bottom .spec {
  color: #F3A23B;
}

.bottom .logo {
  margin-bottom: 30px;
}

/*====================================
 *
 * Footer
 *
 * =================================*/
footer {
  padding: 25px 0;
  background: #012635;
  color: #DCDCDC;
  text-align: center;
}

/*====================================
 *
 * Main
 *
 * =================================*/
main {
  background: #f2f2f2;
  padding: 60px 0;
}

/*====================================
 *
 * News
 *
 * =================================*/
.news {
  padding-top: 0;
}

.news img {
  max-width: 100% !important;
  height: auto !important;
}

.news .w {
  background: #fff;
  padding: 60px 0;
}

.news h2.title, .news h1.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.news h2.title::after {
  width: 45px;
  height: 3px;
  content: "";
  display: block;
  background: #f3a23b;
  margin: 10px auto 20px;
}

.news .text {
  font-size: 21px;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.news .items {
  padding-top: 50px;
}

.news .li {
  margin-top: 30px;
  background: #fff;
}

.news .g {
  padding: 15px;
}

.news h3.title {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.news .created {
  margin-bottom: 10px;
}

.news .created::after {
  content: "";
  display: block;
  clear: both;
}

.news .date {
  float: left;
  color: #f3a23b;
}

.news .author {
  float: right;
  color: #1eb0b1;
}

.news .intro {
  text-align: justify;
}

.news h3.name {
  font-size: 21px;
  font-weight: bold;
  color: #00354e;
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #666;
}

.news-detail {
  padding-top: 60px;
}

.news-detail .li .intro {
  text-align: left;
}

.news-detail .wrap {
  background: #fff;
  padding: 20px;
}

.news-detail h1.name {
  font-size: 21px;
  font-weight: bold;
  color: #00354e;
  margin: 0;
}

.news-detail h1.name::after {
  width: 45px;
  height: 3px;
  content: "";
  display: block;
  background: #f3a23b;
  margin: 10px 0 20px;
}

.news-detail .wrap .intro {
  font-weight: 600;
  margin-bottom: 20px;
}

/*====================================
 *
 * About
 *
 * =================================*/
.about .text {
  margin-bottom: 40px;
}

.about .w {
  padding-bottom: 0;
  margin-bottom: 40px;
}

.about .wrap {
  background: #fff;
  padding: 20px;
}

.about h1.name {
  font-size: 21px;
  font-weight: bold;
  color: #00354e;
  margin: 0;
  border-bottom: 3px solid #666;
  margin-bottom: 20px;
}

.about h1.name::after {
  width: 45px;
  height: 3px;
  content: "";
  display: block;
  background: #f3a23b;
  margin: 10px 0 -3px;
}

/*====================================
 *
 * Contact
 *
 * =================================*/
.contact-page {
  background: #fff;
}

.contact-page h2.title {
  font-size: 21px;
  font-weight: bold;
  color: #00354e;
  margin: 0 0 20px;
}

.contact-page h2.title::after {
  width: 45px;
  height: 3px;
  content: "";
  display: block;
  background: #f3a23b;
  margin: 10px 0 20px;
}

.contact-page .intro {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 20px;
}

.contact-page .li {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px 1px #ccc;
  padding: 20px;
  margin-bottom: 30px;
}

.contact-page .li::after {
  content: "";
  display: block;
  clear: both;
}

.contact-page .li .icon {
  float: left;
  font-size: 48px;
  width: 50px;
  text-align: center;
}

.contact-page .li .text {
  float: right;
  width: 80%;
}

.contact-page .li h5 {
  margin: 0 0 10px;
  font-size: 16px;
  color: #f3a23b;
}

.contact-page h2.mt3 {
  margin-top: 30px;
}

.contact-page .form-control {
  border-radius: 0;
}

/*====================================
 *
 * Order
 *
 * =================================*/
.order-page {
  background: #fff;
}

.order-page .p-intro {
  color: #808080;
  margin-bottom: 40px;
}

.order-footer::after,
.order-wrapper::after {
  content: "";
  display: block;
  clear: both;
}

.order-menu {
  float: left;
  width: 25%;
  background: #e8e8e8;
}

.order-menu .li {
  padding: 10px 15px;
}

.order-menu .active {
  background: #fff;
  font-weight: 600;
  color: #1eb0b1;
  border: 1px solid #ccc;
  border-right: 0;
}

.order-menu .active i {
  font-weight: bold;
}

.order-menu .parent {
  padding: 0;
  font-size: 18px;
  color: #00354e;
  font-weight: 600;
}

.order-menu .parent i {
  padding-left: 0;
  background: #00354e;
  color: #fff;
  padding: 10px;
  margin-right: 10px;
}

.order-menu .sub {
  font-weight: 600;
  color: #00354e;
}

.order-content {
  float: left;
  width: 75%;
  border: 1px solid #ccc;
  padding: 15px 20px;
}

.order-content .name {
  font-size: 16px;
  font-weight: 600;
  color: #00354e;
  margin: 0 0 15px;
}

.order-tabs {
  border-bottom: 1px solid #ccc;
  display: table;
  width: 100%;
}

.order-tabs a {
  color: #00354e;
  font-size: 16px;
  font-weight: 600;
  display: table-cell;
  width: 25%;
  text-align: center;
}

.order-tabs a.active {
  color: #f3a23b;
  border-bottom: 3px solid #f3a23b;
}

.search-form {
  padding: 15px 0;
  margin-bottom: 20px;
}

.search-form .price {
  font-weight: 600;
  color: #f3a23b;
  margin: 0 30px;
}

.search-form .label {
  margin-top: 7px;
  display: inline-block;
}

.search-form .form-control {
  border-right: 0;
}

.order-table th {
  background: #f1f1f1;
}

.order-table a {
  color: #1eb0b1;
}

.order-table p {
  margin: 0 0 10px;
}

.order-table .paid {
  padding: 5px 10px;
  display: inline-block;
  font-size: 11px;
  border-radius: 5px;
  font-weight: 600;
}

.order-contact {
  margin-bottom: 30px;
}

.order-total {
  color: #f3a23b;
  border-top: 1px dashed #ddd;
  padding-top: 10px;
  max-width: 50%;
}

.order-total b {
  float: right;
}

.order-label {
  display: inline-block;
  width: 160px;
}

.h4-title {
  color: #00354e;
  font-size: 18px;
  margin: 0 0 15px;
}

.text-blue {
  color: #1eb0b1;
}

.order-remark {
  margin-top: 15px;
  margin-left: 25px;
  margin-bottom: 30px;
}

.order-footer {
  background: #f1f1f1;
  border-top: 1px solid #ccc;
  padding: 20px 15px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -15px;
}

.order-footer .button {
  float: right;
}

.order-footer a {
  color: #1eb0b1;
  font-weight: 600;
}

.order-footer .custom-control {
  float: left;
}

.order-discount {
  margin-bottom: 20px;
}

.order-discount .fg {
  display: inline-block;
}

.order-discount input {
  font-weight: 600;
  color: #1eb0b1;
  border-right: 0;
  width: 120px !important;
}

.order-discount button {
  background: #1eb0b1;
  color: #fff;
  border: 0;
}

.order-payment {
  margin-top: 30px;
}

#accordionPayment {
  margin-bottom: 15px;
}

/*====================================
 *
 * Help
 *
 * =================================*/
.help-page {
  background: #fff;
}

.help-page .h2-title {
  margin-bottom: 30px;
}

.help-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ddd;
  border-bottom: 0;
  border-radius: 2px;
  margin-bottom: 20px;
}

.help-nav li {
  padding: 7px 15px;
  border-bottom: 1px solid #ddd;
}

.help-nav .parent {
  background: #f1f1f1;
  font-weight: 600;
}

.help-nav li a {
  color: #333;
}

.help-nav li a:hover,
.help-nav li.active a {
  color: #F3A23B;
}

/*====================================
 *
 * Login
 *
 * =================================*/
.login-form {
  max-width: 600px;
  background: #fff;
  position: relative;
  padding: 30px 20px 0px;
  margin: auto;
}

.login-form .mfp-close {
  margin: -22px -22px 0 0;
  background: #00354F;
  color: #fff;
  border-radius: 50%;
  opacity: 1;
}

.login-form .mfp-close:hover {
  background: #F3A23B;
}

.login-form .links::after {
  content: "";
  display: block;
  clear: both;
}

.login-form .links a {
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  float: left;
  width: 48%;
  border-radius: 2px;
  font-size: 14px;
}

.login-form .links i {
  margin-right: 5px;
}

.login-form .facebook {
  background: #4065b4;
  margin-right: 4%;
}

.login-form .facebook:hover {
  background: #2a447b;
}

.login-form .google {
  background: #bc3926;
}

.login-form .google:hover {
  background: #842618;
}

.login-form .or {
  height: 1px;
  background: #ddd;
  margin: 30px 0;
  position: relative;
}

.login-form .or span {
  background: #fff;
  padding: 5px 10px;
  position: absolute;
  left: 50%;
  top: -15px;
  margin-left: -27px;
  font-weight: 500;
}

.login-form .input-group {
  margin-bottom: 12px;
  position: relative;
}

.login-form .aforget {
  position: absolute;
  right: 0;
  font-weight: 600;
}

.login-form .form-control {
  border-radius: 2px;
  border-right: 0;
  font-size: 14px;
}

.login-form .btn-login {
  text-transform: uppercase;
  display: block;
  width: 100%;
  font-weight: 500;
  border-radius: 2px;
}

.login-form .aregister {
  font-weight: 600;
  margin-left: 10px;
}

/*====================================
 *
 * Account
 *
 * =================================*/
.account-page .form-control {
  border-radius: 2px;
}

.account-name {
  font-size: 21px;
  font-weight: bold;
  color: #00354e;
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #666;
  text-transform: uppercase;
}

.account-sub-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 15px;
  text-transform: uppercase;
}

.account-li {
  margin-bottom: 10px;
}

.account-li.active a {
  font-weight: 600;
  color: #F3A23B;
}

.account-order-table {
  background: #fff;
}

.account-order-table th {
  background: #f1f1f1;
}

.account-order-table .detail {
  background: #F3A23B;
  color: #fff;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 2px;
  font-size: 13px;
}

.account-ship-step {
  height: 2px;
  background: #ddd;
  margin: 100px 0 140px;
}

.account-ship-step::after {
  content: "";
  display: block;
  clear: both;
}

.step-li {
  float: left;
  width: 25%;
  text-align: center;
}

.step-li img {
  width: 100px;
  margin: -50px 0 10px;
}

.step-li i {
  display: inline-block;
  background: #fff;
  font-size: 30px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 2px solid #ddd;
  margin: -50px 0 10px;
}

.address-total {
  font-size: 16px;
  font-weight: bold;
}

/*====================================
 *
 * Product
 *
 * =================================*/
.product-page {
  background: #fff;
}

.gallery {
  padding-top: 30px;
  height: 80px;
  margin-bottom: 30px;
}

.gallery .slick-arrow {
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: none;
  cursor: pointer;
  top: 50%;
  margin-top: 15px;
}

.gallery .slick-arrow i {
  color: #333;
  font-size: 16px;
}

.gallery .slick-prev {
  left: -25px;
}

.gallery .slick-next {
  right: -20px;
}

.gallery .img {
  margin: 0 2px;
  width: 80px !important;
  overflow: hidden;
  float: left;
}

.product-head {
  font-size: 21px;
  font-weight: bold;
  color: #344563;
  margin: 0 0 10px;
}

.product-meta {
  margin-top: 10px;
  color: #344563;
}

.product-meta.highlight {
  padding: 4px 10px;
  background-color: #fff5d7;
  font-size: 14px;
  color: #344563;
}

.product-meta a {
  color: #007bff;
}

.product-price {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #bf2600;
}

.product-meta label {
  margin-bottom: 0;
}

.product-content {
  margin-top: 30px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.product-content-title {
  font-size: 18px;
  font-weight: 500;
  color: #ca651a;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.product-content-title:before {
  content: "";
  display: block;
  width: 6px;
  height: 24px;
  background-color: #ca651a;
  margin-right: 15px;
  float: left;
}

.product-content-data {
  background: #fff;
  margin-bottom: 30px;
}

.product-cat {
  margin: 0;
}

.product-cat a {
  color: #007bff;
  font-size: 15px;
  text-transform: uppercase;
}

.product-rating {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: #666;
}

.product-rating .far {
  font-size: 14px;
  color: #ffc000;
}

.product-cart {
  margin-top: 10px;
}

.product-cart select {
  height: 35px;
  border: 1px solid #ddd;
  margin-left: 5px;
  max-width: 140px;
}

.product-intro {
  height: 46px;
  overflow: hidden;
  margin-bottom: 5px;
}

.product-intro.active {
  height: auto;
}

.product-intro ul {
  padding: 0 0 0 15px;
  margin: 0;
}

.readmore {
  font-size: 13px;
}

.btn-buy {
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background: linear-gradient(to top, #f0c14a, #f6dda0);
  border: solid 1px #aa7e4d;
  margin-bottom: 16px;
  padding-left: 42px;
  position: relative;
  margin-top: 15px;
}

.btn-buy i {
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/buy-ic.svg) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 4px;
  left: 4px;
}

.detail-more-info {
  border-radius: 2px;
  border: 1px solid #d8d8d8;
  font-size: 15px;
  padding: 12px 0;
  margin-bottom: 20px;
}

.detail-more-info .benefit {
  margin: 0;
  padding: 0 16px;
}

.detail-more-info .benefit li {
  padding: 8px 0;
  list-style: none;
}

.detail-more-info .benefit li .icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

.detail-more-info .benefit li span {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 40px);
  padding-left: 6px;
}

.detail-more-info .benefit li .icon.icon-1 {
  background: url(../images/free-delivery.svg) no-repeat center;
  background-size: contain;
}

.detail-more-info .benefit li .icon.icon-2 {
  background: url(../images/import-icon.svg) no-repeat center;
  background-size: contain;
}

.detail-more-info .benefit li .icon.icon-3 {
  background: url(../images/delivery.svg) no-repeat center;
  background-size: contain;
}

.detail-more-info .benefit li .icon.icon-4 {
  background: url(../images/sercurity.svg) no-repeat center;
  background-size: contain;
}

.detail-more-info .card-info {
  margin: 12px 16px;
}

.detail-more-info .card-info label {
  font-weight: 500;
}

.detail-more-info .card-info ul {
  margin: 0;
  padding: 0;
}

.detail-more-info .card-info ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.detail-more-info .card-info ul li img {
  height: 24px;
}

.detail-more-info .estimate-time {
  background: #f5f5f5;
  padding: 6px 16px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.detail-more-info p {
  margin-bottom: 8px;
  padding: 0 16px;
}

.detail-more-info p i {
  font-size: 12px;
  color: #091e42;
  margin-right: 5px;
}

.lds-ellipsis {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
#loader {
  position: fixed;
  z-index: 9999999999;
  background: rgba(0, 0, 0, 0.2);
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

#cart-form table.table td, #cart-form table.table th {
  padding: 7px 0;
  vertical-align: middle;
}

#cart-form table.table tr td:first-child {
  padding-right: 5px;
}

#cart-form label.variant-label {
  border: 2px dotted #b2b2b2;
  position: relative;
  margin-bottom: 6px !important;
  height: 36px;
  line-height: 33px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 0 6px;
  font-size: 0.9em;
  margin: 0 2px 5px 0;
  color: #b2b2b2;
  overflow: hidden;
}

#cart-form label.variant-label:hover, #cart-form label.variant-label.enable:hover {
  border: solid 2px #444;
}

#cart-form label.variant-label.enable {
  border: 2px solid #CCC;
  color: #111;
}

#cart-form label.variant-label.active {
  border: 2px solid #FBAD0E;
  background: rgba(253, 165, 0, 0.05);
}

#cart-form label.variant-label.image {
  height: 65px;
  width: 65px;
  border-radius: 0;
}

#cart-form label.variant-label.image img {
  width: 100%;
  height: 100%;
}

a#zoomImg {
  max-height: 400px !important;
  text-align: center !important;
  width: 100%;
}

a#zoomImg img, body main div#product-page div div div div#zoom-fig a#zoomImg > .mz-figure > img {
  max-height: 400px !important;
  width: auto !important;
  max-width: 100% !important;
  height: auto !important;
}

#countdown-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 999;
  display: none;
}

#countdown {
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -40px;
  margin-top: -40px;
  height: 80px;
  width: 80px;
  text-align: center;
}

#countdown-number {
  color: white;
  display: inline-block;
  line-height: 80px;
  font-size: 2em;
}

#countdown svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 6px;
  stroke: white;
  fill: none;
  animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
.about h1.name, .about h1 {
  font-size: 21px;
  font-weight: bold;
  color: #00354e;
  margin: 0;
  border-bottom: 3px solid #666;
  margin-bottom: 20px;
}

.about h1.name::after, .about h1:after {
  width: 45px;
  height: 3px;
  content: "";
  display: block;
  background: #f3a23b;
  margin: 10px 0 -3px;
}

#modal-crawl-error {
  top: 35%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#modal-quick-search,
#modal-quick-crawl {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 11;
  display: none;
}

#modal-quick-search .auto-quotes,
#modal-quick-crawl .auto-quotes {
  top: 50%;
  margin-top: -150px;
  position: absolute;
  left: 0;
  right: 0;
  height: 320px;
  display: none;
}

#modal-quick-search .auto-quotes button.close,
#modal-quick-crawl .auto-quotes button.close {
  color: Red;
  opacity: 1;
  position: absolute;
  top: 5px;
  right: 5px;
}

a.view-price-detail {
  margin: -10px 0 0 5px;
  color: #00354E;
  font-size: 0.9em;
}

ul.view-price-detail {
  /* display: none; */
  /* fixcode for not hide detail */
  margin: 0;
  padding: 10px 10px 10px 20px;
  border-bottom: dashed 1px #DDD;
  border-top: dashed 1px #DDD;
}

ul.view-price-detail b {
  color: #333;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#accordionPayment .custom-control-label::before, #accordionPayment .custom-control-label::after {
  left: 20px;
  top: 17px;
}

#accordionPayment .custom-control-label {
  text-indent: 25px;
}

body .swal2-styled.swal2-confirm, body .swal2-popup {
  border-radius: 0;
}

body .swal-modal, body .swal-button {
  border-radius: 0;
  text-transform: uppercase;
}

body .swal-button, body .swal2-styled.swal2-confirm {
  background-color: #F3A23B !important;
  color: #FFF;
}

body .swal-button:hover, body .swal2-styled.swal2-confirm:hover {
  background-color: #00354E !important;
}

body .swal-title, body .swal2-title {
  font-size: 22px;
}

body .swal2-content {
  font-size: 1em;
  line-height: 1.4;
}

body .swal2-icon.swal2-success .swal2-success-ring, body .swal-icon--success__ring {
  border-color: #00354E;
}

body .swal2-icon.swal2-success [class^=swal2-success-line], body .swal-icon--success__line {
  background-color: #00354E;
}

.social-icons a {
  font-size: 1.3em;
  margin: 0 0.5rem;
}

.modal-backdrop {
  opacity: 0.6;
}

button.swal2-confirm.btn-primary {
  background: #F8AF3F;
  margin-right: 10px;
}

button.swal2-cancel.btn-second {
  background: #00354E;
  margin-right: 10px;
}

p.validationMessage {
  padding-top: 4px;
  padding-left: 2px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

ul.social-logins {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px 20px;
}

ul.social-logins li {
  display: block;
  width: 100%;
}

.social-login-google a {
  background-color: #3367d6;
  color: white;
  padding: 8px;
  width: 100%;
  text-align: center;
  display: block;
  background-image: url(../images/icon-google.png);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 2px;
}

li.social-login-google a:hover {
  background-color: #184cbb;
}

li.social-login-zalo a {
  background: #037BFF;
  color: white;
  padding: 8px;
  width: 95%;
  margin-left: 5%;
  text-align: center;
  display: block;
  background-image: url(../images/icon-zalo.png);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 2px;
}

li.social-login-zalo a:hover {
  background-color: #086ddc;
}

.swal2-container .swal2-actions .swal2-cancel:hover {
  background-color: #00354E !important;
}

/*# sourceMappingURL=style.css.map */

/* Custom CSS */
h1 { font-size: 20px;}
h2 { font-size: 18px;}
h3 { font-size: 16px;}
h4.title a {
    font-size: 1rem;
    font-weight: 700;
}
.dfc-article-related {
    margin-top: 20px;
}
.dfc-article-related ul {
    padding-left: 0px;
    display: flex;
}
.dfc-article-related li {
    list-style: none;
}
.dfc-article-related li{
    width: 25%;
    margin-right: 20px;
}
.dfc-article-related li img {min-height: 175px;}

@media only screen and (max-width: 768px) {
	.dfc-article-related ul {
    display: block;
	}
	.dfc-article-related li{
		width: 100%;
		margin-right: 0px;
	}
	.nav-link {
		color: #ffffff;
		font-size: 1em;
		font-weight: 500;
		padding: 15px 10px 15px 20px;
	}
}